body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(231, 142, 142); */
}
.gambar img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
    border-radius: 100px;
}
.teks {
    text-align: center;
}
.teks .satu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.teks .dua {
    font-family: 'Courier New', Courier, monospace;
}
.skil {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: px;
}
.gallery {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: px;
}